@use 'ng-luna/theme/_palette.scss' as *;

.code-editor-container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $navy;
    color: $white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
}

.editor-toolbar
{
    display: flex;
    padding: 8px;
    background-color: $navy-darkest;
    border-bottom: 1px solid $blue-steel-dark;
}

.run-button
{
    padding: 4px 12px;
    background-color: $blue-steel;
    color: $white;
    border: 1px solid $blue-steel-dark;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;

    &:hover
    {
        background-color: $blue-steel-light;
    }

    &:active
    {
        background-color: $blue-steel-dark;
    }
}

::ng-deep app-text-editor
{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
