<IfModule mod_rewrite.c>
  RewriteEngine On

  # Force HTTPS and www
  RewriteCond %{HTTPS} !=on [OR]
  RewriteCond %{HTTP_HOST} !^www\.edubasic\.net$ [NC]
  RewriteRule ^ https://www.edubasic.net%{REQUEST_URI} [L,R=301]

  # Angular SPA routing
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
