@use 'ng-luna/theme/_palette.scss' as *;

.output-container
{
    align-items: center;
    background-color: $navy-darkest;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 16px;
    width: 100%;

    &.running
    {
        bottom: 0;
        left: 0;
        padding: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
    }
}

.output-canvas
{
    border: 1px solid $blue-steel-dark;
    height: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
    
    .running &
    {
        max-height: 100vh;
        max-width: 100vw;
    }
}
