@use 'ng-luna/theme/_palette.scss' as *;

.output-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $navy-darkest;
    padding: 16px;

    &.running
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        padding: 0;
    }
}

.output-canvas
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border: 1px solid $blue-steel-dark;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    object-fit: contain;
    
    .running &
    {
        max-width: 100vw;
        max-height: 100vh;
    }
}
