@use 'ng-luna/theme/_palette.scss' as *;

.output-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $navy-darkest;
    padding: 16px;

    &.running
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        padding: 0;
    }
}

.output-canvas
{
    border: 1px solid $blue-steel-dark;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
    .running &
    {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

