@use 'sass:map';
@use 'ng-luna/theme/_breakpoints.scss' as *;
@use 'ng-luna/theme/_palette.scss' as *;

#main-window
{
    display: block;
    margin: 8px;
    height: calc(100vh - 16px);
    width: calc(100vw - 16px);
}

.app-layout
{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 8px;
}

.tabs-container
{
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.output-panel
{
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
