@use 'sass:map';
@use 'ng-luna/theme/_breakpoints.scss' as *;
@use 'ng-luna/theme/_palette.scss' as *;

#main-window
{
    display: block;
    height: calc(100vh - 16px);
    margin: 8px;
    width: calc(100vw - 16px);
}

#main-window::ng-deep .window
{
    height: 100%;
    min-height: 0;
}

#main-window::ng-deep .window-body
{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
}

.window-content
{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
}

.app-layout
{
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 8px;
    min-height: 0;
    width: 100%;
}

.tabs-container
{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

.output-panel
{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    overflow: hidden;

    > app-output
    {
        display: block;
        flex: 1;
        min-height: 0;
    }
}

