<luna-window id="main-window" [showClose]="false" [showHelp]="false" [showMaximize]="false" [showMinimize]="false" [title]="title">
    <luna-tabs #tabsComponent>
        <luna-tab id="console" label="Console">
            <app-console></app-console>
        </luna-tab>
        <luna-tab id="code" label="Code">
            <app-code-editor></app-code-editor>
        </luna-tab>
        <luna-tab id="files" label="Files">
            <app-files></app-files>
        </luna-tab>
        <luna-tab id="output" label="Output">
            <app-output></app-output>
        </luna-tab>
    </luna-tabs>
</luna-window>
