<div class="editor-content">
    <div #lineNumbersDiv class="line-numbers">
        <div 
            *ngFor="let lineNum of lineNumbers; let i = index" 
            class="line-number" 
            [class.error]="lineNum > 0 && isLineError(lineNum - 1)"
            [class.selected]="lineNum > 0 && isLineSelected(lineNum - 1)"
            (mousedown)="onLineNumberMouseDown($event, lineNum - 1)"
            (mouseenter)="onLineNumberMouseEnter($event, lineNum - 1)"
        >
            <span *ngIf="lineNum > 0">{{ lineNum }}</span>
            <span *ngIf="lineNum > 0 && isLineError(lineNum - 1)" 
                  class="error-indicator" 
                  [title]="getLineErrorMessage(lineNum - 1) || 'Parse error'">⚠</span>
            <span *ngIf="lineNum <= 0">&nbsp;</span>
        </div>
    </div>
    <div class="code-area">
        <pre #codeOverlay class="code-overlay" [innerHTML]="overlayHtml"></pre>
        <textarea 
            #codeTextarea
            class="code-textarea"
            spellcheck="false"
            [value]="getCode()"
            [placeholder]="placeholder"
            [readonly]="readonly"
            (input)="onTextAreaInput($event)"
            (scroll)="onTextAreaScroll($event)"
            (keydown)="onKeyDown($event)"
            (blur)="onBlur()"
            (mouseup)="onTextAreaMouseUp()"
        ></textarea>
    </div>
</div>
