<div class="files-container">
    <div class="file-tree-pane">
        <div class="file-tree-header">Files</div>
        <div class="file-tree">
            <ng-container *ngTemplateOutlet="fileTreeTemplate; context: { nodes: fileTree, level: 0 }"></ng-container>
        </div>
    </div>
    
    <div class="file-editor-pane">
        <div class="editor-toolbar" *ngIf="selectedFile">
            <span class="current-file-name">{{ selectedFile.name }}</span>
            <button class="view-mode-toggle" (click)="toggleViewMode()">
                {{ viewMode === 'text' ? 'Hex' : 'Text' }}
            </button>
        </div>
        
        <div class="file-editor" *ngIf="selectedFile">
            <div *ngIf="viewMode === 'text'" class="text-editor">
                <div class="file-line-numbers">
                    <div *ngFor="let lineNum of getLineNumbers()" class="line-number">{{ lineNum }}</div>
                </div>
                <textarea 
                    class="file-textarea"
                    spellcheck="false"
                    [value]="selectedFile.content"
                    (input)="onTextAreaInput($event)"
                    (scroll)="onTextAreaScroll($event)"
                ></textarea>
            </div>
            
            <div *ngIf="viewMode === 'hex'" class="hex-editor">
                <pre class="hex-content">{{ getHexContent() }}</pre>
            </div>
        </div>
        
        <div class="no-file-selected" *ngIf="!selectedFile">
            <p>No file selected</p>
        </div>
    </div>
</div>

<ng-template #fileTreeTemplate let-nodes="nodes" let-level="level">
    <div *ngFor="let node of nodes" [style.padding-left.px]="level * 16">
        <div 
            class="file-tree-item"
            [class.directory]="node.type === 'directory'"
            [class.file]="node.type === 'file'"
            (click)="selectFile(node)"
        >
            <luna-icon 
                class="icon" 
                size="16" 
                [svg]="node.type === 'directory' ? folderIcon : fileIcon"
            ></luna-icon>
            <span class="name">{{ node.name }}</span>
        </div>
        <ng-container *ngIf="node.children">
            <ng-container *ngTemplateOutlet="fileTreeTemplate; context: { nodes: node.children, level: level + 1 }"></ng-container>
        </ng-container>
    </div>
</ng-template>

