@use 'sass:math';

$breakpoints: (
        xxs: 320px,
        xs: 375px,
        sm: 425px,
        md: 768px,
        lg: 1024px,
        xl: 1440px
);

@function breakpoint-next($name)
{
    $breakpoint-names: map-keys($breakpoints);
    $n: index($breakpoint-names, $name);
    @if not $n
    {
        $breakpoints-keys: map-keys($breakpoints);
        @error "breakpoint `#{$name}` not found in any of the breakpoints: `#{$breakpoints-keys}`";
    }
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name)
{
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@function breakpoint-max($name)
{
    $max: map-get($breakpoints, $name);
    @return if($max and $max > 0, $max - .02, null);
}

@mixin media-breakpoint-up($name)
{
    $min: breakpoint-min($name);
    @if $min
    {
        @media (min-width: $min)
        {
            @content;
        }
    } @else
    {
        @content;
    }
}

@mixin media-breakpoint-down($name)
{
    $max: breakpoint-max($name);
    @if $max
    {
        @media (max-width: $max)
        {
            @content;
        }
    } @else
    {
        @content;
    }
}

@mixin media-breakpoint-between($lower, $upper)
{
    $min: breakpoint-min($lower);
    $max: breakpoint-max($upper);

    @if $min != null and $max != null
    {
        @media (min-width: $min) and (max-width: $max)
        {
            @content;
        }
    } @else if $max == null
    {
        @include media-breakpoint-up($lower)
        {
            @content;
        }
    } @else if $min == null
    {
        @include media-breakpoint-down($upper)
        {
            @content;
        }
    }
}

@mixin media-breakpoint-only($name)
{
    $min: breakpoint-min($name);
    $next: breakpoint-next($name);
    $max: breakpoint-max($next);

    @if $min != null and $max != null
    {
        @media (min-width: $min) and (max-width: $max)
        {
            @content;
        }
    } @else if $max == null
    {
        @include media-breakpoint-up($name)
        {
            @content;
        }
    } @else if $min == null
    {
        @include media-breakpoint-down($next)
        {
            @content;
        }
    }
}

@mixin responsive-value($property, $value)
{
    // Ratio (100 / 1440) => 5 / 72
    #{$property}: #{math.div($value * 5, 72)}vw;

    @include media-breakpoint-only(xl)
    {
        // Value is designed for 1440px layout
        #{$property}: #{$value}px;
    }
}

@mixin lg-responsive-value($property, $value)
{
    // Ratio (100 / 1024) => 25 / 256
    #{$property}: #{math.div($value * 25, 256)}vw;

    @include media-breakpoint-up(lg)
    {
        // Value is designed for 1024px layout
        #{$property}: #{$value}px;
    }
}

@mixin md-responsive-value($property, $value)
{
    // Ratio (100 / 768) => 25 / 192
    #{$property}: #{math.div($value * 25, 192)}vw;

    @include media-breakpoint-up(md)
    {
        // Value is designed for 768px layout
        #{$property}: #{$value}px;
    }
}
