@use 'ng-luna/theme/_breakpoints.scss' as *;
@use 'ng-luna/theme/_reset.scss' as *;
@use 'ng-luna/theme/_palette.scss' as *;
@use 'ng-luna/theme/_z-layers.scss' as *;

@use '@fontsource/ibm-plex-mono';
@use '@fontsource/ibm-plex-sans';
@use '@fontsource/ibm-plex-serif';

$font-mono: 'IBM Plex Mono', monospace;
$font-sans: 'IBM Plex Sans', sans-serif;
$font-serif: 'IBM Plex Serif', serif;

html
{
    background: $navy-darkest;
}

body
{
    font-family: $font-serif;
    color: $off-white;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6
{
    font-family: $font-sans;
}

code, pre
{
    font-family: $font-mono;
}

a
{
    color: inherit;
    text-decoration: none;
}
