@use 'ng-luna/theme/_reset.scss' as *;
@use 'ng-luna/theme/_breakpoints.scss' as *;
@use 'ng-luna/theme/_fonts.scss' as *;
@use 'ng-luna/theme/_modal.scss' as *;
@use 'ng-luna/theme/_palette.scss' as *;
@use 'ng-luna/theme/_z-layers.scss' as *;

html
{
    background: $navy-darkest;
}
