@use './_reset.scss' as *;
@use './_z-layers.scss' as *;
@use './_palette.scss' as *;
@use './_fonts.scss' as *;
@use './_theme.scss' as *;
@import '@material-design-icons/font';

html
{
    background: $dark-blue-gray;
}

body
{
    font-family: $font-serif;
    color: $light-gray-off-white;
    background: $dark-blue-gray;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh; // Ensure body takes full height even when content is short
}

h1, h2, h3, h4, h5, h6
{
    font-family: $font-sans;
}

code, pre
{
    font-family: $font-mono;
}

a
{
    color: inherit;
    text-decoration: none;
}
