@use 'ng-luna/theme/_breakpoints.scss' as *;
@use 'ng-luna/theme/_fonts.scss' as *;
@use 'ng-luna/theme/_reset.scss' as *;
@use 'ng-luna/theme/_palette.scss' as *;
@use 'ng-luna/theme/_z-layers.scss' as *;

html
{
    background: $navy-darkest;
}

body
{
    color: $off-white;
    font-family: $font-serif;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6
{
    font-family: $font-sans;
}

code, pre
{
    font-family: $font-mono;
}

a
{
    color: inherit;
    text-decoration: none;
}
